.img-thumbnail {
    padding: .25rem;
    background-color: inherit;
    border: 0px solid #dee2e6;
    border-radius: .25rem;
    max-width: 80%;
    height: auto;
}

.table th, .table td {
    border: 0px;
    padding-bottom: 0px;
}

.table{
    margin-bottom:0px;
}
.text-secondary{
    font-size: 0.8rem;
}